html {
  background-image: url(Images/bgDice.jpg);
  background-size: 100% 100%;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  margin: 10px;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

.diceboard {
  height: 100px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.board {
  height: 500px;
  border: dashed orange;
  padding: 10px;
  margin: 10px;
}

.set1 {
  height: 100%;
  background-color: rgba(181, 159, 181, 0.912);
  border-radius: 10px;
}

.set2 {
  height: 100%;
  background-color: rgba(222, 197, 222, 0.912);
  border-radius: 10px;
}

.play {
  text-align: center;
}

.dice {
  padding-top: 50px;
  height: auto;
}


.dice.animate {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  from {
    transform: translate3d(200px, 30px, 0px);
  }

  to {
    transform: rotate(180deg);
  }
}

.rolldice {
  padding-top: 100px;
}

.hold {
  padding-top: 50px;
}

.player1,
.player2 {
  padding-top: 25px;
  font-size: 30px;
}

.arrow {
  margin-top: -45px;
  margin-left: 250px;
  color: rgb(249, 142, 43);
}

.total {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  color: red;
}

.current {
  text-align: center;
  padding-top: 150px;
  font-size: 20px;
}

.background-dice {
  height: 100%;
  width: 100%;
}

.input {
  border-color: orange;
}

.modal-content {
  border-radius: 5px;
}

.non-active {
  display: none;
}

.border {
  border: solid;
  border-color: blue;
  padding: 5px;
  margin-left: 110px;
  margin-right: 110px;
}

@media screen and (max-width: 769px) {
  .set1 {
    height: 42%;
    text-align: left;
    padding-left: 15px;
  }

  .set2 {
    height: 42%;
  }

  .set3 {
    height: 10%;
  }

  .hidden-total {
    text-align: left;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 25px;
    color: red;
  }

  .hidden-current {
    text-align: right;
    padding-right: 20px;
    margin-top: -40px;
  }

  .player1,
  .player2 {
    font-size: 22px;
  }

  .dice {
    height: 90px;
    width: 50px;
    margin-top: -60px;
  }

  .modal-content {
    height: auto;
    width: 75%;
  }

  .names {
    width: 50%;
  }

  .mobilePoints {
    padding-top: 0px;
  }

  .globalMobilePoints {
    padding-left: 45px;
    padding-top: 10px;
  }

  .arrow {
    margin-top: -33px;
    margin-left: 180px;
  }

  .diceMobile.animate {
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  @keyframes bounce {
    from {
      transform: translate3d(200px, 10px, 0px);
    }

    to {
      transform: rotate(180deg);
    }
  }

  .mobileBorder {
    border: solid;
    border-color: blue;
    padding: 5px;
    margin-right: 5%;
    margin-left: 70%;
    text-align: center;
  }
}